<div id="resume">
  <img src="#{@resume.basics.profiles.picture}" alt="Aditya Tiwar">
  <h1><%=@resume.basics.name%></h1>
  <p>Cell: <a href=#><%=@resume.basics.phone%></a>
  <p>Web: <a href=#><%=@resume.basics.website%></a>
  <p>Email: <a href=#><%=@resume.basics.email%></a>
  <p id="objective"><%=@resume.basics.summary%></p>
<dl>
  <dt>Education
  <dd>
    <h2><%=@resume.education.institute%></h2>
    <p><strong>Major:</strong> <%=@resume.education.area%><br/>
    <strong>Study Type:</strong><%=@resume.education.studyType%></p>
</dl>
<dl>
<dt>Skills
<dd>
<%@resume.skills.each do |skill|%>
  <h2><%= skill["name"] %></h2>
  <p><%= skill["keywords"].join(", ") %>
  <h2><%= skill["level"] %></h2>
<%end%> 
</dl>
<dl>
<dt>Experience
<dd>
<%@resume.work.each do |work|%>
<h2><%= work["company"] %><span><%= work["startDate"] %> – <%= work["endDate"] %></span></h2>
<ul>
<li><%= work["position"] %>
<li><%= work["summary"] %>
</ul>
<%end%>
</div>